body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-right {
  text-align: right !important;
}
#carousel{
  max-height: 500px;
  
}
.logo-img-wrap{
  position: relative;
  top: -10px;

}

.card-product li.list-group-item em {
  font-weight: 600;
  min-width: 150px;
  text-align: right;
  font-style: normal;
}
.card-product li.list-group-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}